body {
    background-color: #343d46
}

h1 {
    color: gainsboro;
}

p {
    color: gainsboro;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

* {
    margin: 0;
    padding: 0;
}

.loader {
    display: none;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.loading {
    border: 2px solid #ccc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top-color: #1ecd97;
    border-left-color: #1ecd97;
    animation: spin 1s infinite ease-in;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

input[type=text] {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.advancedSearchTextbox {
    width: 526px;
    text-align: center;
}

.center {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
  }


.button1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

span + span {
    margin-left: 10px;
}



